*{
	margin: 0;
	padding: 0;
}
.bili-banner{
	margin: 0 auto;
    position: relative;
    z-index: 0;
	width: 100%;
	height: 9.375vw;
    min-height: 155px;
    min-width: 999px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}
.animated-banner{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
}

.layer{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.layer img{
	transition: transform 0.2s;
}